CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
yubel_*
*.a
cmake-build-debug
.idea
.cmake
.vscode
build
oh
debug
yugi
dd
null.d
yubel
