[Desktop Entry]
Version=1.0
Name=zuu

GenericName=Test Framework
Comment=Launches the test framework client
Keywords=Tdd,test
Categories=Network;ConsoleOnly

Type=Application
Icon=utilities-terminal
Terminal=true
Exec=wezterm-gui start /usr/bin/run_zuu
MimeType=
