[Desktop Entry]
Version=1.0
Name=zuu

GenericName=Test Framework
Comment=Launches the test framework client
Comment[en_US]=Launches the test framework client
Keywords=Tdd,test
Categories=ConsoleOnly

Type=Application
Icon=utilities-terminal
Terminal=true
TryExec=gnome-terminal
Exec=wezterm-gui start /usr/bin/run_zuu
Actions=new-window;preferences;
